Env variables for this project

DIRECT_URL
DATABASE_URL
BETTER_AUTH_SECRET
BETTER_AUTH_URL

RESEND_API_KEY
EMAIL_SENDER_ADDRESS=onboarding@resend.dev (use only for local dev)
EMAIL_SENDER_NAME

GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET